.cardcontainer {  
    display: flex;
}

.moreinfo {
    padding: 1em;
    border-radius: 10px;
    background-color: #61dafb;
}

.moreinfo a {
    text-decoration: none;
    font-size: larger;
    color: black;
}