.cardcontainer { 
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    flex-wrap: wrap;
}

.moreinfo {
    padding: 1em;
    border-radius: 10px;
    background-color: #61dafb;
}

